<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div id="app">
        <main>
            {{template "nav.html"}}

            <h3>Nouvelle dépense</h3>
            <form>
                <input type="text" id="name" name="name" placeholder="Titre" required>
                <input type="number" value="0" min="0" step="0.01" id="amount" name="amount" required>
                <br /><br />
                <label for="cars">Payé par</label>
                <select name="paid_by" id="paid_by">
                    <option value="">--- Please select ---</option>
                    {{range .Members}}
                    <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                </select>
                <br /><br />

                <label>Pour</label>
                {{range .Members}}
                <div>
                    <input type="checkbox" id="{{.Id}}" name="{{.Id}}">
                    <label for="{{.Id}}">{{.Name}}</label>
                </div>
                {{end}}
                <br />
                <button class="button has-icon full" type="submit">
                    <i class="fa-solid fa-check"></i>
                    <span>Ajouter</span>
                </button>
            </form>
        </main>
    </div>
</body>

</html>