<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div class="container">
        <main>
            {{template "nav.html"}}

            <h3>Nouveaux participants</h3>
            <form>
                <div id="member-inputs">
                </div>
                <a id="plus-one" href="#">[ Ajouter ]</a> <a id="minus-one" href="#">[ Retirer ]</a>
                <br /><br />
                <button type="submit" class="button-primary"><span>Confimer</span></button>
            </form>
        </main>
    </div>
</body>

<script>
    function addInput() {
        let form = document.getElementById("member-inputs");
        let inputNode = document.createElement('input');
        inputNode.setAttribute('type', 'text');
        inputNode.setAttribute('name', 'name');
        inputNode.setAttribute('placeholder', 'Nom du participant...');
        inputNode.required = true;
        inputNode.className = 'u-full-width'
        form.appendChild(inputNode);
        form.appendChild(document.createElement('br'));
    }

    function removeInputField() {
        let form = document.getElementById("member-inputs");
        if (form.children.length > 2) {
            form.lastChild.remove()
            form.lastChild.remove()
        }
    }

    addInput()
    document.getElementById("plus-one").onclick = addInput
    document.getElementById("minus-one").onclick = removeInputField

</script>

</html>