<!DOCTYPE html>
<html>

<body>
    {{template "nav.html"}}

    <h1>Ajouter une dépense</h1>
    <form>
        <label for="name">
            Nom
            <input type="text" id="name" name="name" required>
        </label>
        <label for="amount">
            Valeur
            <input type="number" value="0" min="0" step="0.01" id="amount" name="amount" required>
        </label>

        <br/>

        <label for="cars">Paid by</label>
        <select name="paid_by" id="paid_by">
            <option value="">--- Please select ---</option>
            {{range .Members}}
            <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
        </select>

        <p>For</p>
        {{range .Members}}
        <div>
            <input type="checkbox" id="{{.Id}}" name="{{.Id}}" >
            <label for="{{.Id}}">{{.Name}}</label>
        </div>
        {{end}}
        <button type="submit">OK</button>
    </form>
</body>

</html>