<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div id="app">
        <main>
            {{template "nav.html"}}

            <h5>Ajouter un participant</h5>
            <form>
                <input type="text" id="name" name="name" placeholder="Prénom..." required>
                <br /><br />
                <button class="button has-icon full" type="submit">
                    <i class="fa-solid fa-check"></i>
                    <span>Ajouter</span>
                </button>
            </form>
        </main>
    </div>
</body>

</html>