<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div class="container">
        {{template "nav.html"}}

        {{if and .ShowTutorial (not .ChooseUsername)}}
        <div id="tutorial-container">
            <p>Sauvegarde et partage le lien de ce trikount quelque-part pour pouvoir y retourner
                facilement.
            </p>
            <code id="share-link">https://trikount.com/t/{{.ProjectId}}</code>
            <button id="copy-button" onclick="onClick()" onmouseout="onMouseOut()">Copier</button>
            <br />
            <button onclick="location.href='?show_tutorial=false'">
                C'est bon, j'ai partagé le lien
            </button>

            <script>
                const tutoShareUrl = "https://trikount.com/t/{{.ProjectId}}";
                const button = document.getElementById("copy-button");

                function onClick() {
                    navigator.clipboard.writeText(tutoShareUrl);
                    button.innerText = "Lien copié ✔"
                }
            </script>
        </div>
        <br />
        {{end}}

        {{if .ChooseUsername}}
        <div id="tutorial-container">
            <h5>👋 Bienvenue ! Qui est tu ?</h5>
            {{range .Balance}}
            <button onclick="location.href='?user_id={{.Id}}'">
                {{.Name}}
            </button>
            {{end}}
            <br /><br />
            <p>Tu n'est pas sur cette liste ? Ajoute-toi sur le Trikount</p>
            <button onclick="location.href='/t/{{$.ProjectId}}/members/add'">
                M'ajouter à ce Trikount
            </button>
        </div>
        <br />
        {{end}}

        <h3>{{.Project.Name}}</h3>
        <h5>Total dépensé: <b>{{.TotalSpent}}</b></h5>

        <button class="button-primary" onclick="location.href='/t/{{.ProjectId}}/expenses/add'">
            Nouvelle dépense
        </button>

        <br />
        <ul>
            {{range .Balance}}
            <li>
                {{.Name}}:
                {{if eq .Balance 0.0}}
                <b>{{.FormattedBalance}}</b>
                {{else if gt .Balance 0.0}}
                <b style="color:green;">{{.FormattedBalance}}</b>
                {{else}}
                <b style="color:red;">{{.FormattedBalance}}</b>
                {{end}}
                • <small>total dépensé: {{.FormattedNoTransferSpent}}</small>
            </li>
            {{end}}
        </ul>

        {{if .Transfers}}
        <div class="rounded-container">
            <h5>Comment équilibrer ?</h5>
            {{range .Transfers}}
            <p>
                {{.From.Name}} doit <b>{{.FormattedAmount}}</b> à {{.To.Name}}
                (<a
                    href="/t/{{$.ProjectId}}/expenses/add?name=Remboursement&amount={{.Amount}}&paid_by={{.From.Id}}&{{.To.Id}}=on&is_transfer=on">rembourser</a>)
            </p>
            {{end}}
        </div>
        {{end}}
    </div>
</body>

</html>