<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div class="container">
        <main>
            {{template "nav.html"}}

            <h1>Balance</h1>
            <h5>Total dépensé: {{.TotalSpent}}</h5>

            <ul>
                {{range .Balance}}
                {{if eq .Balance 0.0}}
                <li>{{.Name}}: <b>{{.FormattedBalance}}</b></li>
                {{else if gt .Balance 0.0}}
                <li>{{.Name}}: <b style="color:green;">{{.FormattedBalance}}</b></li>
                {{else}}
                <li>{{.Name}}: <b style="color:red;">{{.FormattedBalance}}</b></li>
                {{end}}
                {{end}}
            </ul>

            <fieldset>
                <legend>Comment équilibrer ?</legend>
                {{range .Transfers}}
                <p>
                    {{.From.Name}} doit <b>{{.FormattedAmount}}</b> à {{.To.Name}}
                    (<a href="/t/{{$.ProjectId}}/expenses/add?name=Remboursement&amount={{.Amount}}&paid_by={{.From.Id}}&{{.To.Id}}=on&is_transfer=on">rembourser</a>)
                </p>
                {{end}}
            </fieldset>
        </main>
        {{template "footer.html"}}
    </div>
</body>

</html>