<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div class="container">
        <main>
            {{template "nav.html"}}

            {{if .IsEdit}}
            <h3>Editer la dépense</h3>
            {{else}}
            <h3>Nouvelle dépense</h3>
            {{end}}
            <form>
                <input type="text" id="name" name="name" placeholder="Titre" value="{{.Expense.Title}}" required>
                <input type="number"  min="0" step="0.01" id="amount" name="amount" value="{{.Expense.Amount}}" required>
                <br /><br />
                <label for="cars">Payé par</label>
                <select name="paid_by" id="paid_by">
                    {{if not $.IsEdit}}
                    <option value="none">-- Qui a payé ? --</option>
                    {{end}}
                    {{range .Members}}
                    <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                </select>
                <br /><br />

                <label>Pour</label>
                {{range .Members}}
                <div>
                    <input type="checkbox" id="{{.Id}}" name="{{.Id}}" {{if $.Expense.HasSpent .Id}}checked{{end}}>
                    <label for="{{.Id}}">{{.Name}}</label>
                </div>
                {{end}}
                <br />
                <button class="button has-icon full" type="submit">
                    <i class="fa-solid fa-check"></i>
                    <span>{{if .IsEdit}}Enregister{{else}}Ajouter{{end}}</span>
                </button>
            </form>
        </main>
    </div>
</body>

</html>