<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div class="container">
        {{template "nav.html"}}

        {{if .IsEdit}}
        <h3>Editer la dépense</h3>
        {{else}}
        <h3>Nouvelle dépense</h3>
        {{end}}
        <form>
            <input type="date" id="date" name="date" value="{{.Expense.HtmlDate}}" required />
            <input type="time" id="time" name="time" value="{{.Expense.HtmlTime}}" required />
            <br/>
            Titre:
            <input class="u-full-width" type="text" id="name" name="name" placeholder="Ma dépense..."
                value="{{.Expense.Title}}" required>
            Coût en euros:
            <input class="u-full-width" type="number" min="0" step="0.01" id="amount" name="amount" placeholder="0"
                value='{{if .Expense.Amount}}{{printf "%.2f"  .Expense.Amount}}{{else}}{{end}}' inputmode="decimal"
                required>
            <br />
            <br />
            Payé par
            <select name="paid_by" id="paid_by">
                <option value="none">???</option>
                {{range .Members}}
                <option value="{{.Id}}" {{if eq $.Expense.PaidBy.Id .Id}}selected{{end}}>{{.Name}}</option>
                {{end}}
            </select>
            <br />

            Pour
            {{range .Members}}
            <div>
                <input type="checkbox" id="{{.Id}}" name="{{.Id}}" {{if $.Expense.HasSpent .Id}}checked{{end}}>
                <label for="{{.Id}}">{{.Name}}</label>
            </div>
            {{end}}
            <hr />
            <input type="checkbox" id="isTransfer" name="is_transfer" {{if $.Expense.IsTransfer}}checked{{end}}>
            <label for="isTransfer">Ceci est un remboursement</label>
            <br />
            <button class="button-primary" type="submit" name="save" value="on">{{if
                .IsEdit}}Enregister{{else}}Ajouter{{end}}</button>
        </form>
    </div>
</body>

</html>