<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div class="container">
        {{template "nav.html"}}
        <h3>Dépenses</h3>

        {{if not .Expenses}}
        <p>Aucune dépense pour le moment !</p>
        {{end}}

        <button class="button-primary" onclick="location.href='/t/{{.ProjectId}}/expenses/add'">
            Nouvelle dépense
        </button>

        <br /><br />
        {{range .Expenses}}
        <div class="clickable-container">
            <p onclick="location.href='/t/{{$.ProjectId}}/expenses/{{.Id}}'">
                {{.Title}}
                •
                <b>{{.FormattedAmount}}</b>
                <br />
                <small>payé par {{.PaidBy.Name}}{{if .IsTransfer}}<em> (rembousement)</em>{{end}}</small>
            </p>
        </div>
        <hr />
        {{end}}
    </div>
</body>

</html>