<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div class="container">
        {{template "nav.html"}}
        <small>{{.Expense.FormattedTimeAgo}}</small>
        <h5>
            <b>{{.Expense.Title}}</b>
             • payé par {{.Expense.PaidBy.Name}}
        </h5>
        
        <p>
            Total: <b>{{.Expense.FormattedAmount}}</b>
            {{if .Expense.IsTransfer}}
            <em> (rembousement)</em>
            {{end}}
            <br />
        </p>
        Pour
        <ul>
            {{range .Expense.SpentBy}}
            <li>{{if eq .Id $.UserId}}{{template "username.html" .Name}}{{else}}{{.Name}}{{end}}: <b>{{$.Expense.FormattedAmountPerMember}}</b></li>
            {{end}}
        </ul>

        <button onclick="location.href='/t/{{.ProjectId}}/expenses/{{.Expense.Id}}/edit'">
            Editer
        </button>
        <form onsubmit="return confirm('Êtes-vous sur de vouloir supprimer la dépense ?');">
            <button class="danger-button" type="submit" name="delete" value="on">Supprimer</button>
        </form>
    </div>
</body>

</html>