<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div id="app">
        <main>
            {{template "nav.html"}}
            <h1>{{.Expense.Title}}</h1>
            <h2>Total: {{.Expense.FormattedAmount}}</h2>
            {{range .Expense.SpentBy}}
            <p>{{.Name}} - {{$.Expense.FormattedAmountPerMember}}</p>
            {{end}}

            <button class="has-icon is-outline" onclick="location.href='/{{.ProjectId}}/expenses/{{.Expense.Id}}/edit'">
                <i class="fa-solid fa-pen"></i>
                <span>Editer</span>
            </button>
        </main>
    </div>
</body>

</html>