<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div class="container">
        {{template "nav.html"}}
        <h3>
            {{.Expense.Title}}
            • <b>{{.Expense.FormattedAmount}}</b>
        </h3>
        <p><em>payé par {{.Expense.PaidBy.Name}}</em>
            {{if .Expense.IsTransfer}}
            <em> (rembousement)</em>
            {{end}}
            <br />
            {{.Expense.FormattedTimeAgo}}
        </p>
        Pour
        <ul>
            {{range .Expense.SpentBy}}
            <li>{{.Name}}: <b>{{$.Expense.FormattedAmountPerMember}}</b></li>
            {{end}}
        </ul>

        <button onclick="location.href='/t/{{.ProjectId}}/expenses/{{.Expense.Id}}/edit'">
            Editer
        </button>
        <form onsubmit="return confirm('Êtes-vous sur de vouloir supprimer la dépense ?');">
            <button class="danger-button" type="submit" name="delete" value="on">Supprimer</button>
        </form>
    </div>
</body>

</html>