<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div class="container">
        <main>
            {{template "nav.html"}}
            <h1>{{.Name}}</h1>

            {{if not .Expenses}}
            <p>Il n'y a aucunes dépense pour le moment ! Penses à partager le lien du Trikount pour que les
                participants puissent ajouter leurs dépenses.</p>
            {{end}}

            <button class="button-primary" onclick="location.href='/t/{{.ProjectId}}/expenses/add'">
                Nouvelle dépense
            </button>

            <button onclick="location.href='/t/{{$.ProjectId}}/members/add'">
                Ajouter un participant
            </button>

            {{range .Expenses}}
            <p onclick="location.href='/t/{{$.ProjectId}}/expenses/{{.Id}}'">{{.Title}} •
                <b>{{.FormattedAmount}}</b><br />
                <small>payé par {{.PaidBy.Name}}</small>
            </p>
            <hr />
            {{end}}
        </main>
        {{template "footer.html"}}
    </div>
</body>

</html>