<!DOCTYPE html>
<html>

{{template "head.html"}}

<body>
    <div class="container">
        {{template "nav.html"}}
        <div class="rounded-container">
            <h5>Participants</h5>
            <ul>
                {{range .Members}}
                <li>{{.Name}}
                    {{if eq .Id $.UserId}}
                    <a href='/t/{{$.Project.Id}}/?user_id='>
                        [ Se déconnecter ]
                    </a>
                    {{end}}
                </li>
                {{end}}
            </ul>
            <button onclick="location.href='/t/{{.Project.Id}}/members/add'">
                Ajouter un participant
            </button>
        </div>
        <br />
        <div class="rounded-container">
            <h5>Renommer le Trikount</h5>
            <form>
                <input type="text" id="name" name="name" placeholder="{{.Project.Name}}" required>
                <button type="submit">Renommer</button>
            </form>
        </div>
        <br />
        <div class="rounded-container">
            <h5>Suppression</h5>
            <p>Supprimer un Trikount est définitif, vous ne pourrez pas le récupérer après l'avoir supprimé.</p>
            <form onsubmit="return confirm('Êtes-vous sur de vouloir supprimer définitivement {{.Project.Name}} ?');">
                <button class="danger-button" type="submit" name="delete" value="on">Supprimer ce Trikount</button>
            </form>
        </div>
        <br />
    </div>
</body>

</html>