#nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 0;
}

#nav a {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 10px;
    text-decoration: none;
    color: #222;
    white-space: nowrap;
    cursor: pointer;
}

#nav a:hover {
    color: #52B788;
}

#highlight-container {
    border-radius: 10px;
    border: 0.5px solid #033c21;
    background-color: #b2ebd0;
    padding: 20px;
}

#highlight-container button {
    border-color: #033c21;
    color: #033c21;
}

.rounded-container {
    border-radius: 10px;
    border: 0.5px solid grey;
    padding: 20px;
}

.danger-button {
    border-color: red;
    color: red;
}

label {
    display: inline;
}

.clickable-container p:hover {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -95px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.username {
    color: #1EAEDB;
}